// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 50px;
  text-align: center;
}

.letter {
  padding: 6px;
  background-color: #3998DC;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.result {
  font-size: 20px;
}

form {
  margin-left: 30px;
}
